body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.form-input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#swap-currencies {
    background: transparent;
    border: none;
    cursor: pointer;
}

#show-fees {
    cursor: pointer;
    text-decoration: underline;
}
